html {
    font-size: 16px;
}

body {
    background: #fefefe;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 4rem;
}

@include max-screen() {
    .container {
        width: 90%;
        padding: 0 20px;
    }
}

