.section .content {
    .post-list {
        list-style: none;
        padding-left: 0;

        li {
            padding: 10px 0;
        }

        .post-date {
            padding-left: 10px;
            font-size: 13px;
        }
    }

    .description {
        font-size: 13px;
        padding-left: 20px;
    }
} 

p {
    color: #2b2b2b;
}

li {
    color: #2b2b2b;
}

pre {
    display: block;
    padding: 1rem;
}

pre, code {
    font-size: 90%;
}
