body {
    margin: auto;
    padding: 20px;
    max-width: 720px;
    font-family: Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    overflow-wrap: break-word;
    background-color: #fff;
    color: #444;
    text-align: left;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

.title h1 {
  font-size: 1.5em;
  font-family: Verdana, sans-serif;
  color: #222;
}

nav a {
  margin-right: 8px;
}

main {
  line-height: 1.6;
  pre {
    padding: 1em;
    overflow: auto;
    code {
      font-family: "Noto Sans Mono";
    }
  }
  p code {
      font-family: "Noto Sans Mono";
      margin: 0.2em;
  }
  img {
    max-width: 100%;
  }
  ul.posts {
    list-style-type: none;
    padding: unset;
    time {
      font-family: monospace;
      font-style: normal;
      font-size: 15px;
    }
    li {
      display: flex;
      span {
        flex: 0 0 130px;
      }
    }
  } 
}


footer {
  padding: 25px 0;
  text-align: center;
}

