<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ config.title }}</title>
        {% block css %}
        <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false)  }}">
        {% endblock css %}

    </head>

    <body>
        <div class="container">
          <header class="header">
              <div class="logo"><a href="{{ config.base_url }}">{{ config.title }}</a></div>
          </header>
          <section class="section">
              <div class="content">
                  {% block content %} {% endblock %}
              </div>
          </section>
        </div>
    </body>
</html>
